Repository AY2223S1-CS2103T-T15-2/tp, pull requests merged in 2022-11, with the labels that each got.

#247 [Developer Guide] Fix comestic issues
  docs/DeveloperGuide.md
Labels: type.documentation, doc.DG

#250 [User Guide] Update user guide structure
  docs/UserGuide.md
  docs/images/ClassifyLogo.png
  docs/images/classifyLogo.png
Labels: type.documentation, doc.UG

#253 [#206][UI] Set minimum window size
  src/main/resources/view/MainWindow.fxml
Labels: type.Bug, severity.Medium

#248 [#233][Edit Command] Fix empty exam input
  src/main/java/seedu/classify/logic/parser/EditCommandParser.java
  src/test/java/seedu/classify/logic/parser/EditCommandParserTest.java
  src/test/java/seedu/classify/logic/parser/StudentRecordParserTest.java
  src/test/java/seedu/classify/testutil/StudentUtil.java
Labels: priority.HIGH, type.Enhancement, type.Bug, severity.High

#249 [PPP] Update with new contributions (Daniel)
  docs/team/danielk0k.md
Labels: doc.PPP

#251 [User Guide] Update adding new student section
  docs/UserGuide.md
  docs/images/InvalidCommandError.png
Labels: type.documentation, doc.UG

#257 [PPP] Update PPP with contributions (Min Jiun)
  docs/team/minjiunn.md
Labels: doc.PPP

#254 [User Guide] Update Glossary and added visual to viewClass Command
  docs/UserGuide.md
  docs/images/viewClass.png
Labels: type.documentation, priority.HIGH, doc.UG

#256 [User Guide] Add note about case insensitivity of inputs to delete command section
  docs/UserGuide.md
Labels: type.documentation, doc.UG

#259 [PPP] Update PPP (Max)
  docs/UserGuide.md
  docs/team/maxtance.md
Labels: type.documentation, doc.PPP

#258 [Developer Guide] Update Edit and ToggleView Command implementation
  docs/DeveloperGuide.md
  docs/diagrams/ToggleViewCommandActivityDiagram.puml
  docs/diagrams/ViewAllCommandSequenceDiagram.puml
  docs/images/ToggleViewCommandActivityDiagram.png
  docs/images/ViewAllCommandSequenceDiagram.png
  src/main/java/seedu/classify/logic/commands/ToggleViewCommand.java
Labels: type.documentation, doc.DG

#260 [PPP] Update PPP with contributions (Linus)
  docs/team/linuschancs.md
Labels: priority.HIGH, doc.PPP

#246 [PPP] Update PPP (Jerome)
  docs/team/jeromepui.md
Labels: doc.PPP

#262 [Developer Guide] Clean up user story section
  docs/DeveloperGuide.md
Labels: type.documentation, doc.DG

#264 [#216] [FindCommand] Fix error with FindCommand behaviour
  src/main/java/seedu/classify/logic/parser/FindCommandParser.java
  src/test/java/seedu/classify/logic/parser/FindCommandParserTest.java
Labels: type.Bug, severity.Medium

#261 [Task] Update README and home page
  README.md
  docs/images/Ui.png
  docs/index.md
Labels: type.Task

#265 [User Guide] Update FindCommand and ViewStatsCommand
  docs/UserGuide.md
  docs/images/FindByName.png
  docs/images/ViewStats.png
Labels: doc.UG

#266 [#211][EditCommand] Fix error message to be more general
  docs/DeveloperGuide.md
  docs/images/InvalidCommandError.png
  src/main/java/seedu/classify/commons/core/Messages.java
Labels: type.Bug, severity.Low

#267 [Documentation] Clean up user guide
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/index.md
Labels: type.documentation, doc.UG, doc.DG

#268 [PPP] Daniel
  docs/team/danielk0k.md
Labels: doc.PPP

#270 [PPP] Finalise PPP (Jerome)
  docs/team/jeromepui.md
Labels: doc.PPP

#269 [README] Fix links in README
  README.md
Labels: doc.README

#271 [UG] Touch up on minor mistakes and sentence structure
  docs/UserGuide.md
Labels: type.documentation, doc.UG

#263 [Code Quality] Make code RepoSense compatible
  src/main/java/seedu/classify/logic/commands/DeleteCommand.java
  src/test/java/seedu/classify/logic/parser/AddStudentCommandParserTest.java
  src/test/java/seedu/classify/logic/parser/FindCommandParserTest.java
Labels: type.Task

#273 [PPP] Finalise details in PPP (Min Jiun)
  docs/team/minjiunn.md
Labels: doc.PPP

#275 [PPP] Finalise PPP (Linus)
  docs/team/linuschancs.md
Labels: type.documentation, doc.PPP

#277 [PPP] Update format for PPP (Max)
  docs/team/maxtance.md
  docs/team/minjiunn.md
Labels: type.documentation, doc.PPP

#274 [DG] Update formatting and correct out of date information
  docs/DeveloperGuide.md
Labels: type.documentation, doc.DG

#278 [User Guide][Developer Guide] PDF Conversion formatting
  docs/DeveloperGuide.md
  docs/UserGuide.md
Labels: type.documentation, doc.UG, doc.DG

#279 [User Guide] Fix table display and remove note in FAQ
  docs/UserGuide.md
Labels: doc.UG

#280 [PPP] Fix formatting issues (Min Jiun)
  docs/team/minjiunn.md
Labels: doc.PPP

#281 [User Guide] Fix PDF formatting issues
  docs/UserGuide.md
  docs/images/ToggleViewConcise.png
  docs/images/ToggleViewDetailed.png
Labels: type.documentation, doc.UG

#282 [Developer Guide]Add page break for each subsection in DG
  docs/DeveloperGuide.md
Labels: doc.DG

#283 [User Guide] Fix final PDF formatting issues
  docs/UserGuide.md
Labels: type.documentation, doc.UG

#284 [Developer Guide] Add page breaks to DG
  docs/DeveloperGuide.md
Labels: doc.DG

#285 [Developer Guide][PPP] Add page breaks to DG and Linus' PPP
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/team/linuschancs.md
Labels: doc.DG, doc.PPP

#286 [Developer Guide] Edit numbering for 7.2 in DG
  docs/DeveloperGuide.md
Labels: doc.DG

#287 [User Guide][Developer Guide] Fix a dead link in UG and bullet numbering in section 7 of DG
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/team/linuschancs.md
Labels: priority.HIGH, doc.UG, doc.DG

#288 [Developer Guide] Update sequence diagrams and remove AddressBook occurrence
  docs/SettingUp.md
  docs/diagrams/ViewClassCommandSequenceDiagram.puml
  docs/images/DeleteSequenceDiagram.png
  docs/images/ViewClassCommandSequenceDiagram.png
Labels: type.documentation, priority.HIGH, doc.DG
